<div class="footer">
	<div class="w">
		<div class="fl mt10">
			<ul class="footerNav clear">
				<li><a href="{% url 'about' %}">关于我们</a><img src="{{ STATIC_URL }}base/img/about_us.png"/></li>
				<li class="line"></li>
			<li><a href="{% url 'idea' %}">弯钉的想法</a><img src="{{ STATIC_URL }}base/img/idea.png"/></li>
			</ul>
			<p class="tel"><img src="{{ STATIC_URL }}base/img/tel.png"/></p>
		</div>
		<div class="footer-center">
			<p class="tac pt20"><img src="{{ STATIC_URL }}base/img/code.png"/></p>
			<p class="tac mt10"><img src="{{ STATIC_URL }}base/img/weixin.png" alt="微信用户端扫描有惊喜" /></p>
			<p class="tac">&copy; 弯钉科技 版权所有 <a target="_blank" href="http://www.miitbeian.gov.cn/">渝ICP备14004662号</a></p>
		</div>
		<div class="footer-share fr">
			<div class="bdsharebuttonbox">
				<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			</div>
		</div>
	</div>
</div>
<div class="floatBox">
	<a class="kfQQ" href="http://wpa.qq.com/msgrd?v=3&uin={{ qq }}&site=qq&menu=yes" target="_blank"></a>
	<div id="J_goTop" class="goTop"></div>
</div>