{% extends "base/theme_base.html" %}

{% block page_title %}首页{% endblock %}

{% block content_base %}
    <div class="w sayings">
        <h2>欢迎来到弯钉,</h2>
        <p>我们是弯钉，我们努力工作，让生活更快乐！</p>
    </div>
	<div class="w">
		<div class="clear items">
			{% for item in items.object_list %}
				{% if forloop.counter == 1 or forloop.counter == 16 %}
					<div class="item col1">
		        {% else %}
					<div class="item col2">
				{% endif %}
		                <a href="{% url 'detail' item.id %}?cate={{ cate.id }}"><img src="{{ item.get_show_pics.0.pic.url }}"/></a>
		                <div class="meta">
		                    <p class="meta-name">{{ item.name }}</p>
		                    <p class="meta-price">￥{{ item.price }}</p>
		                    <div class="fav">喜欢<i data-id="68"></i></div>
		                </div>
		            </div>
			{% endfor %}
		</div>
	</div>
	{% include "base/paginator.html" %}
{% endblock %}