{% extends "base/theme_base.html" %}

{% block page_title %}首页{% endblock %}

{% block content_base %}
    <div class="w sayings">
        <h2>欢迎来到弯钉,</h2>
        <p>我们是弯钉，我们努力工作，让生活更快乐！</p>
    </div>
	<div class="w">
		<div class="clear items">
			<div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic01.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="68"></i></div>
                </div>
            </div>
			<div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col1">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col1">
                <a href="#" target="_blank"><img src="upload/pic01.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="68"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
            <div class="item col2">
                <a href="#" target="_blank"><img src="upload/pic02.jpg"/></a>
                <div class="meta">
                    <p class="meta-name">张小盒8GU盘 宇航员</p>
                    <p class="meta-price">￥23.00</p>
                    <div class="fav">喜欢<i data-id="69"></i></div>
                </div>
            </div>
		</div>
	</div>
	{% include "base/paginator.html" %}
{% endblock %}